.main {
    min-width: 1300px;
    margin-top: 10px;

    h3 {
        margin: 0 50px 0 50px;
        padding: 10px 0 20px 0;
        background-color: #fff;
        font-weight: 400;
    }

    .booksBlock {
        display: grid;
        grid-template-columns: 230px 230px 230px 230px 230px;
        justify-content: space-around;
        margin: 0 50px 0 50px;
        // background-image: linear-gradient(to right, #e3dbd8 0%,
        //  #b9a7a7 51%, #260a04 100%);
      
        background-color: #fff;

        .bookItem {
            margin: 10px;
            text-align: start;

            background-image: linear-gradient(to right, rgb(245, 245, 245) 0%, rgb(223, 223, 223) 51%, #c0c0c8 100%);
            background-size: 200% auto;
            transition: .5s;

            a {

                img {
                    height: 170px;
                    width: 130px;
                    margin: 20px 20px 10px 40px;
                    cursor: pointer;
                    transition: .35s ease;
                }

                :hover {
                    box-shadow: 0px 3px 5px 2px #767676;
                }
            }

            :hover {}

            .categories {
                margin: 5px;
                font-size: small;
                color: rgb(92, 92, 93);
                border-bottom: 1px solid rgb(158, 158, 158);
            }

            .noCategories {
                color: rgb(241 241 241);
                border: 'none';
                transition: .5s;
            }


            .title {
                margin: 5px;
            }

            .authors {
                margin: 5px;
                font-size: small;
                color: rgb(92, 92, 93);
            }

            div {
                &:nth-child(2) {}

                :hover {
                    transform: scale(1.02);
                }
            }

            :hover {
                transform: none
            }
        }

        :hover {
            background-position: right center;
            transform: scale(1.02);
            .noCategories {

                color: rgb(222, 222, 222)
            }
        }
    }

    .buttonItem {
        background-color: rgba(255, 255, 255, 0.89);
        min-width: 1000px;
        margin: 0px 50px 0 50px;
        padding: 50px;
        opacity: 0.7;

        button {
            cursor: pointer;
            border: none;
            outline: none;
            height: 40px;
            width: 200px;
            border-radius: 10px;

            background-image: linear-gradient(to right, rgb(176, 176, 176) 0%, rgb(133, 133, 133) 51%, #3f3f46 100%);
            background-size: 200% auto;
            transition: .5s;
        }

        :hover {
            color: #fff;
            background-position: right center;
        }
    }
}