.search {
  text-align: center;
  min-width: 1200px;
  font-family: 'Josefin Sans', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  h1 {
    color: #fff;
  }

  input {
    position: relative;
    border: none;
    outline: none;
    font-size: 20px;

    height: 25px;
    margin: 2px;
    width: 380px;
  }

  i {
    position: absolute;
    margin-left: -25px;
    margin-top: 6px;
    cursor: pointer;
  }

}